<h1>スケジュール詳細</h1>
<hr />

<div>
	<p>タイトル</p>
	<p><%= h(@schedule.title) %></p>
	<dt>日付</dt>
	<p><%= format_datetime(@schedule.datetime) %></p>
	<p>内容</p>
	<p><%= linebreaksbr(@schedule.content).html_safe %></p>
	<% if @schedule.attribute_present?('file_name') %>
	<p>添付ファイル<pt>
	
		<%= link_to(@schedule.file_name, view_file_schedules_path(:id => @schedule)) if @schedule.file_name %>
	</dd>
	<% end %>
</div>

<% if user_signed_in? %>
<%= link_to '編集', edit_schedule_path(@schedule) %><% end %> 
<%= link_to 'カレンダーヘ戻る',	:action => 'month', :year => @schedule.datetime.year, 
										:month => @schedule.datetime.month %>
<% @all.each_with_index do |e,index|
		if e.eql?@schedule %>
				<%= link_to('スケジュール一覧へ戻る', :action => 'index', :page => index/5 )%>
		<% end %>
<% end %>
